
@{
    ViewBag.Title = "Error";
}

<h2>Post Error</h2>

<p>Error updating your content. Please try again. Be sure you are following the guidelines when using the custom tags. <br />
    See the help document for further details.
    </p>

