@model List<string> 
    <ul style="padding-left:0px;">
        @foreach(string need in Model)
        {
           <li class="list-unstyled" style="padding-left:0;"><a>@need</a></li>
        }
    </ul>
